<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Hello from HTML!</h1>
        
        <form action="/detect" method="POST">
            <label for="url">URL</label>
            <input type="text" name="url" required>
            <input type="submit" value="Shazam!">
        </form>
    </body>
</html>